[Unit]
Description=IoT-Mailbox Gateway

[Service]
EnvironmentFile=/home/pi/Gateway.env
ExecStart=/home/pi/Gateway

[Install]
WantedBy=multi-user.target
